<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>

<div class="message-content">
    <div>
    <p>Hello, {{name}}.</p>
    <br>
    <p>An recovery password request was received for your email.</p>
    <p>Click the link below to set a new password.</p>
    <p>
      <a href="{{link}}">Reset password.</a>
    </p>
  </div>
</div>
